# The questions.config has a simple Syntax:
# Lines with * start a new quiz
# Characters after | are the id
# ~ defines the Callback (CLI) ($UUID is being replaced with the UUID used)
# $ settings max. errors|max. errors per question
# ; = Start a new Question
# ? = splits questions and answers
# | = new answer
# } = this answer is true (can be multiple choise)
*Questions about something|1
# ;Question?answer1|answer2}|answer3
;What is this for an app?Cake Delivery App|PHP Quiz App}|Microsoft Word
;In which language is it written?|C|PHP}|JavaScript
~echo "$DATA" > ./completed$UUID
$3|4
