# lines with * start a new quiz
# characters after | are the id
*Questions about something|1
# ;Question?answer1|answer2|answer3}
# ; = Start a new Question
# } = this answer is true
# | = new answer
# ? = splits questions and answers
;What is this for an app?Cake Delivery App|PHP Quiz App}|Microsoft Word
;In which language is it written?|C|PHP}|JavaScript
*Questions examples
;Test?|1|2-}|3|4
